@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
// @import '../node_modules/bulma/sass/components/navbar.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';



.App {
  text-align: center;
}

/* CSS: Bulma package is already installed -> see https://bulma.io/documentation/  */

/* ############ IMPORT FROM NOTION AND FROM WEBSITE PROFILE*/

  @media only screen {
    body {
      margin: 2em auto;
      max-width: 900px;
      color: rgb(55, 53, 47);
    }
  }

  body {
    font-family: $family-sans-serif;
    line-height: 1.5;
    white-space: pre-wrap;
  }

  body {
    animation: fade-in 1s ease;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

  a,
  a.visited {
    color: inherit;
    text-decoration: underline;
  }

  h1,
  h2,
  h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
  }

  .page-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
  }

  // ######### HEADER

  header {
    display: flex;
  }

  #avatar { 
    width: 110px;
    display: flex;
    overflow: hidden;
    min-width: 110px;
    min-height: 110px;
    align-items: center;
    border-radius: 20%;
    justify-content: center;
    background-color: #E6E6E6;
    margin: 0px 20px 20px 0px;
  }
  
  #avatar img {
    height: calc(100% + 2px);
    object-fit: cover;
  }
  
    // ######### 

  h1 {
    font-size: 1.875rem;
    margin-top: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
  }

  figure {
    margin: 1.25em 0;
    page-break-inside: avoid;
  }

  figcaption {
    opacity: 0.5;
    font-size: 85%;
    margin-top: 0.5em;
  }

  // ############# ColumnLeft
  
  // card hobbies :
  .noPadding {
    padding: 0rem;
  }
  
  .borderRadiusBottom {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px!important;
  }
  
  // ############# ColumnRight

  .spotify {
    width:100%;
    min-width:300px;
    min-height:380px;
  }